@font-face{
  font-family:"Catavalo";
  src:url("../fonts/Catavalo-Thin.ttf") format("truetype");
  font-weight:100;
  font-style:normal;
  font-display:swap;
}
@font-face{
  font-family:"Catavalo";
  src:url("../fonts/Catavalo-Light.ttf") format("truetype");
  font-weight:300;
  font-style:normal;
  font-display:swap;
}
@font-face{
  font-family:"Catavalo";
  src:url("../fonts/Catavalo-Regular.ttf") format("truetype");
  font-weight:400;
  font-style:normal;
  font-display:swap;
}
@font-face{
  font-family:"Catavalo";
  src:url("../fonts/Catavalo-Medium.ttf") format("truetype");
  font-weight:500;
  font-style:normal;
  font-display:swap;
}
@font-face{
  font-family:"Catavalo";
  src:url("../fonts/Catavalo-SemiBold.ttf") format("truetype");
  font-weight:600;
  font-style:normal;
  font-display:swap;
}
